<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Chan Thar logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">ချမ်းသာ</h3>
				<ul class="mb3">
					<li><a href="/" class="link">ပင်မစာမျက်နှာ</a></li>
					<li><a href="/products" class="link">ထုတ်ကုန်များ</a></li>
					<li><a href="/values" class="link">ချမ်းသာအကြောင်း</a></li>
					<li><a href="/post" class="link">သတင်းများ</a></li>
					<li><a href="/contact" class="link">ဆက်သွယ်ရန်</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">ဝန်ဆောင်မှု</h3>
				<ul class="mb3">
					<li><a href="/products" class="link">လက်လီ/လက်ကား ပံ့ပိုးမှု</a></li>
					<li><a href="/contact" class="link">တိုက်ရိုက်ညှိနှိုင်းရန်</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook" "alt" "Chan Thar on Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt" "Chan Thar on Instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

